<div class="row">
  <div ng-controller="ForecastController">
   <div id="leftDiv" class="col-xs-5">
    
    <!-- ng-bind will prevent the expression from showing for a split second before data loads-->
     <!-- left div for temp and details -->
      <div id="mainInfo">
        <h2 id="summ"> <span>Weather</span></h2>
        <h1 id="mainTemp"> <span ng-bind="currently.temperature"></span>  </h1>
         <canvas id="mainIcon" width="120" height="120">
           
         </canvas>
         
        <h2> <span ng-bind="currently.summary"></span> </h2>
      </div>
      <h4> Chance of Precipitation : <span ng-bind="(currently.precipProbability | PercentageFilter)"></span></h4> 
      <h4> Humidity : <span ng-bind="(currently.humidity | PercentageFilter)"></span></h4>
      <h4> Wind : <span ng-bind="currently.windSpeed"></span> m/s at <span ng-bind="currently.windBearing"></span>&deg; </h4>
      <a href="http://forecast.io">Powered By Forecast</a>
    </div>

    
    
    <!-- Right div for forcast-->
  <div id="rightDiv" class="col-xs-7">
    <div  ng-controller="TabController as tab">
        
    
      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <button type="button" class="btn btn-danger " ng-class="{'active' : isActive(1)}" ng-click="setTab(1)">Within the Hour</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-danger" ng-class="{'active' : isActive(2)}" ng-click="setTab(2)">Hourly</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-danger" ng-class="{'active' : isActive(3)}" ng-click="setTab(3)">7-Day</button>
        </div>
      </div>
      
      <div id="forecastContainer">
      <div class="scrollable fade-down-show" ng-show="isActive(1)">
        <div class="panel panel-default weather-panel">
          <div class="panel-body weather-body center">
            <div class="row center-inline padding-horiz">
              <h4 class="no-padding">
                {{minutely.summary}}
              </h4>
            </div>
          </div>
        </div>
         <ul class="list-group nav">
            <div ng-repeat="item in minutely.data" class="panel panel-default weather-panel">
              <div class="panel-body weather-body" >
                <div class="row">
                  <div class="date col-xs-5">
                    <h4>
                      {{item.time | DateFilter : "day name"}}
                      {{item.time | DateFilter : "day"}}
                      {{item.time | DateFilter : "hour-minute"}}
                    </h4>
                  </div>
                  <div class=" col-xs-6 no-padding">
                    Chance of Precip. : {{item.precipProbability | PercentageFilter}} <br>
                  </div>
                </div>
              </div>
              <div class="panel-footer weather-footer">
                <span ng-bind="item.precipType"></span>
              </div>
              </div>
          </ul> 
      </div>
          <div class="scrollable fade-down-show" ng-show="isActive(2)">
            <div class="panel panel-default weather-panel">
              <div class="panel-body weather-body center">
                <div class="row center-inline padding-horiz">
                  <h4 class="no-padding">
                    {{hourly.summary}}
                  </h4>
                </div>
              </div>
            </div>
            <ul class="list-group nav">
            <div ng-repeat="item in hourly.data" class="panel panel-default weather-panel">
              <div class="panel-body weather-body">
                <div class="row">
                  <div class="date col-xs-2">
                      <h4>
                        {{item.time | DateFilter : "day name"}}<br>
                        {{item.time | DateFilter : "day"}} <br>
                        {{item.time | DateFilter : "hour-only"}}
                      </h4>
                        
                      
                    </div>
                  <div class="icon col-xs-2">
                   <canvas id="hourlySkycon{{$index}}"  width="60" height="60"></canvas>
                  </div>
                  <div class=" col-xs-6 no-padding">
                    
                    Temperature : {{item.temperature}}<br>
                    Humidity : {{item.humidity * 100}}% <br>
                    Chance of Precip. : {{item.precipProbability | PercentageFilter}}  
                  </div>
                </div>
              </div>
              <div class="panel-footer weather-footer">
                {{item.summary}}
              </div>
            </div>
          </ul>
          </div>
          <div class="scrollable fade-down-show" ng-show="isActive(3)" >
            <div class="panel panel-default weather-panel">
              <div class="panel-body weather-body center">
                <div class="row center-inline padding-horiz">
                  <h4 class="no-padding">
                    {{daily.summary}}
                  </h4>
                </div>
              </div>
            </div>
            <ul class="list-group nav">
              <div ng-repeat="item in daily.data | limitTo : 7" class="panel panel-default weather-panel">
                <div class="panel-body weather-body">
                  <div class="row">
                    <div class="date col-xs-1">
                      <h4>
                        {{item.time | DateFilter : "day name"}}<br>
                        {{item.time | DateFilter : "day"}} <br>
                      </h4>
                    </div>
                    <div class="icon col-xs-2">
                     <canvas id="dailySkycon{{$index}}"  width="60" height="60"></canvas>
                    </div>
                    <div class=" col-xs-4 no-padding">
                      Max : {{item.temperatureMax}} <br>
                      Min : {{item.temperatureMin}}  <br>
                      Humidity : {{item.humidity | PercentageFilter}}
                    </div>
                    <div class=" col-xs-4 no-padding">
                      Sunrise : {{item.sunriseTime | DateFilter : "hour-minute"}}
                      <br>
                      Sunset : {{item.sunsetTime | DateFilter : "hour-minute"}}
                    </div>
                  </div>
                </div>
                <div class="panel-footer weather-footer">
                  {{item.summary}}
                </div>
              </div>
            </ul>
            </div>
          </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>